* {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
body {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px auto;
}
.header {
  display: flex;
  height: 189px;
  justify-content: space-between;
  flex-direction: column;
}

.logo {
  width: 334px;
  height: 79px;
  font-family: Roboto;
  font-size: 80px;
  font-weight: 400;
  line-height: 94px;
  letter-spacing: 0px;
  text-align: center;
}
.nav {
  width: 1280px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav {
  display: flex;
  background-color: #35444f;
}
.nav__menu {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
}
.nav-a {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  padding-right: 33px;
  padding-left: 33px;
}
.nav__menu:hover {
  background-color: #222f3a;
}
.main {
  display: flex;
}
.main__container {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  padding-top: 52px;
}
.sidebar {
  display: flex;
  width: 344px;
  height: 399px;
  border: 1px solid #000000;
}
.sidebar-ul {
  display: flex;
  flex-direction: column;
  width: 344px;
  height: 399px;
  justify-content: space-around;
}
.sidebar-li {
  display: flex;
  height: 81px;
  align-items: center;
}
.sidebar-li:hover {
  background-color: #dbdbdb;
}
.sidebar-nav {
  font-family: Roboto;
  font-size: 27px;
  font-weight: 400;
  line-height: 27px;
  padding-left: 36px;
}
.sidebar-nav:hover {
  padding-left: 72px;
}
.container__text {
  width: 885px;
  height: 832px;
}
.content-logo {
  display: flex;
  justify-content: center;
  border: 1px solid #000000;
}
.img-logo {
  width: 320px;
  height: 381px;
  padding: 75px 297px;
}
.section-p {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 35px 0px;
  height: 250px;
}
.section-p-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}
.footer {
  width: 1280px;
  height: 69px;
  background-color: #63696e7a;
  display: flex;
  align-items: center;
}
.footer-nav {
  display: flex;
  justify-content: space-around;
  width: 1280px;
}
.footer-nav-ul {
  display: flex;
  width: 857px;
  justify-content: space-evenly;
}
.footer-nav-li:hover {
  border-bottom: 1px solid #3181a6;
}
.footer-nav-a {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
}
.footer-nav-a:hover {
  color: #3181a6;
}
.copy {
  width: 190px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}
